body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  background-image: url('your-background-image.jpg'); /* Replace with the path to your background image */
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 24px;
}

a {
  display: block;
  margin-bottom: 12px;
  text-decoration: none;
}

.footindadoor {
  position: fixed;
  bottom: 0;
  left: 0;
  padding-left: 5vh;
  width: 100%;
}

.blurry-background {
  filter: blur(10px); /* Adjust the blur radius as needed */
  -webkit-backdrop-filter: blur(10px); /* Adjust the blur radius for Safari */
  backdrop-filter: blur(10px); /* Adjust the blur radius for other browsers */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 12%;
  z-index: 1;
}

.container-left,
.container-right {
  flex: 1;
  padding: 20px;
  align-content: center;
}

.container-left {
  position: relative;
  display: flex;
  padding: 25px;
  border-radius: 25px;
  transform-style: preserve-3d;
  justify-content: center;
}

.container-right {
  position: relative;
  padding: 25px;
  border-radius: 25px;
  transform-style: preserve-3d; 
}

#getWaitlistContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}


@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@keyframes changeColor {
  0% {
    background-color: #3498db;
  }
  25% {
    background-color: #e74c3c;
  }
  50% {
    background-color: #2ecc71;
  }
  75% {
    background-color: #f39c12;
  }
  100% {
    background-color: #9b59b6;
  }
}

.bubble {
  width: 100vh;
  height: 100vh;
  border-radius: 100%;
  position: absolute;
  animation: fadeInOut 3s ease-in-out infinite, changeColor 6s ease-in-out infinite;
  overflow: hidden;
  background: radial-gradient(
    circle at center,
    rgba(0, 0, 0, 0) 0%,
    rgba(255, 255, 255, 1) 70%
  );
  backdrop-filter: blur(30px);
  mask: radial-gradient(circle at center, black 0%, black 50%, transparent 100%);
  mix-blend-mode: color-burn;
  z-index: -1;
  border: none;
}
